## Local RabbitMQ Only used for Development pattern
# Local RabbitMQ Server config
RABBITMQ_ERLANG_COOKIE='secret cookie'
RABBIT_HOST={{ rabbitmq_host }}
RABBITMQ_DEFAULT_USER={{ rabbitmq_user }}
RABBITMQ_DEFAULT_PASS={{ rabbitmq_pass }}
discovery.type=single-node

{% if dev_queue %}
rabbitmq_input_sflow_key=sflow_queue
rabbitmq_input_netflow_key=netflow_queue
rabbitmq_output_key=netsage_archive_input
{% endif %}
