## Local RabbitMQ Only used for Development pattern
# Local RabbitMQ Server config
RABBITMQ_ERLANG_COOKIE='secret cookie'
RABBIT_HOST=rabbit
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
discovery.type=single-node

{% if dev_queue %}
rabbitmq_input_sflow_key=sflow_queue
rabbitmq_input_netflow_key=netflow_queue
rabbitmq_output_key=netsage_archive_input
{% endif %}
